<h2>Current Rates for {{ currency$ | async }} ({{ (rates$ | async)?.date | date }})</h2>
<clr-datagrid>
  <clr-dg-column [clrDgField]="'key'">Currency</clr-dg-column>
  <clr-dg-column [clrDgField]="'value'">Rate</clr-dg-column>

  <clr-dg-row *clrDgItems="let r of (rates$ | async)?.rates | keyvalue">
      <clr-dg-cell>{{r.key}}</clr-dg-cell>
      <clr-dg-cell>{{r.value | currency:r.key}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} rates
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
