<clr-main-container>
  <clr-header class="header-7">
    <div class="branding">
      <a routerLink="/">
        <span class="title">NG Routing</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/home" routerLinkActive="active" class="nav-link nav-text">Home</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link nav-text">About</a>
      <a routerLink="/exrates/currencies" routerLinkActive="active" class="nav-link nav-text">ExRates</a>
  </div>
  </clr-header>
  <div class="content-container">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>
