<clr-main-container>
  <clr-header class="header header-3">
    <div class="branding">
      <a href="/" class="nav-link">
        <img class="clr-icon" src="/assets/logo.png" alt="Logo">
        <span class="title">DevBook</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="/todos" class="active nav-link"><span class="nav-text">Todos</span></a>
      <a href="/links" class="nav-link"><span class="nav-text">Links</span></a>
      <a href="/about" class="nav-link"><span class="nav-text">About</span></a>
    </div>
    <div class="header-actions">
      <a href="/login" class="nav-link nav-text">
          Log In
      </a>
  </div>
</clr-header>
  <div class="content-container">
    <div class="content-area">
      <h1>Starter</h1>
    </div>
  </div>
</clr-main-container>
