<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <a [routerLink]="['/crisis-center']" routerLinkActive="active" [routerLinkActiveOptions]="{ excact: true }" class="nav-link nav-text">World Wide</a>
    <a [routerLink]="['/crisis-center', 'germany']" routerLinkActive="active" class="nav-link nav-text">Germany</a>
    <a [routerLink]="['/crisis-center', 'france']" routerLinkActive="active" class="nav-link nav-text">France</a>
    <a [routerLink]="['/crisis-center', 'usa']" routerLinkActive="active" class="nav-link nav-text">USA</a>
  </section>
</nav>
